[submodule "ilastik"]
	path = ilastik
	url = git://github.com/martinsch/ilastik
[submodule "volumina"]
	path = volumina
	url = git://github.com/martinsch/volumina
[submodule "lazyflow"]
	path = lazyflow
	url = git://github.com/martinsch/lazyflow
